<div class="row">
  <!--<button class="btn btn-default" (click)="open()">Large modal</button>-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">User Information</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-sm-1">
        <div class="row">
          <div class="col-sm-6"><b>Node Number:</b> <span class="text-primary">#{{ nodeNum }}</span></div>
          <div class="col-sm-6"><b>User E-mail:</b> <span class="text-primary">{{ email }}</span></div>
        </div>
        <!-- / .row -->

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">User Wallets</h4>
          </div>
          <!-- / .panel-heading -->

          <div class="panel-body">
            <table class="table table-bordered table-striped table-hover">
              <caption></caption>
              <colgroup>
                <col>
              </colgroup>
              <thead>
              <tr>
                <th scope="col">Adress</th>
                <th scope="col">Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr v-if="key == ''">
                <td class="nodata" colspan="2">No Data</td>
              </tr>
              <tr v-else v-for="item in key">
                <td>{{ item.address }}</td>
                <td>{{ item.amount }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- / panel-body -->
        </div>
        <!-- / panel -->

        <div class="panel panel-info">
          <div class="panel-heading">
            <h4 class="panel-title">Wallet Transactions</h4>
          </div>
          <!-- / .panel-heading -->
          <div class="panel-body">
            <table class="table table-bordered table-striped table-hover">
              <caption></caption>
              <colgroup>
                <col>
              </colgroup>
              <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Hash Pointer</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr v-if="transactions == ''">
                <td class="nodata" colspan="5">No Data</td>
              </tr>
              <tr v-else v-for="item in transactions">
                <td>{{ item.id }}</td>
                <td>{{ item.hashPointer }}</td>
                <td>{{ item.from }}</td>
                <td>{{ item.to }}</td>
                <td>{{ item.amount }}</td>
              </tr>
              </tbody>
            </table>

            <form>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
							<button class="btn btn-default"><i class="fa fa-search"></i> Search</button>
						</span>
                </div>
              </div>
            </form>
          </div>
          <!-- / .panel-body -->
        </div>
        <!-- / .panel panel-info -->

        <div class="wrap-btn" v-if="nodeNum == '0001'">
          <div class="row">
            <div class="col-sm-4">
              <button class="btn btn-primary btn-block">Reset Password</button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-primary btn-block">Delete User Data</button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-primary btn-block">Delete User Account</button>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
    </div>
    <!-- modal-body -->
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
</div>
