<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      이더리움 토큰(Ethereum Token)
      <a href="#desc" class="pull-right" role="button" data-toggle="collapse" title="설명"><i class="fa fa-file-text"></i></a>
    </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div id="desc" class="desc collapse in">
  <div class="well">
    <ol>
      <li>크롬 설치</li>
      <li>메타마스크 설치</li>
      <li>remix.ethereum.org</li>
      <li>token source</li>
      <li>crowd sale source</li>
    </ol>
  </div>
</div>
<!-- / desc -->
