<div class="row">
  <!--<button class="btn btn-default" (click)="open(content)">{{title}}</button>-->
  <!--<a class="dropdown-item" href="javascript:void(0)" (click)="open(content)">-->
    <!--<div (click)="open(content)"> <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</div>-->
  <!--</a>-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h4 class="modal-title">User Information</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">x</span>
        </button>
      </div>

      <!-- modal-body -->
      <div class="modal-body">

        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>

        <div class="col-sm-12">
          <div class="row breadcrumb">
            <div class="col-sm-6"><b>Node Number:</b> <span class="text-primary">{{ node_number }}</span></div>
            <div class="col-sm-6"><b>User E-mail:</b> <span class="text-primary">{{ email }}</span></div>
          </div>
        </div>

        <div class="col-sm-12">
          <h4 class="panel-title">User Wallets</h4>
          <!--https://swimlane.gitbook.io/ngx-datatable/installing-->
          <ngx-datatable
            #table
            class="material"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="40"
            [footerHeight]="40"
            [rowHeight]="'auto'"
            [limit]="10"
            [rows]="rows"
            (activate)="onActivate($event)">
          </ngx-datatable>
          <input
            type='text'
            style='padding:5px;margin:15px auto;width:70%;'
            placeholder='Type to filter the Address...'
            (keyup)='updateFilter($event)'
          /> <i class="fa fa-search"></i>

        </div>

        <div class="col-sm-12">
          <h4 class="panel-title">Wallet Transactions</h4>
          <ngx-datatable
            #table2
            class="material"
            [rows]="rows2"
            [columns]="columns2"
            [headerHeight]="40"
            [footerHeight]="40"
            [rowHeight]="'auto'"
            (activate)="onActivate2($event)">
          </ngx-datatable>
          <input
            type='text'
            style='padding:5px;margin:15px auto;width:70%;'
            placeholder='Type to filter the Address...'
            (keyup)='updateFilter2($event)'
          /> <i class="fa fa-search"></i>

        </div>

        <div class="wrap-btn col-sm-12" v-if="nodeNum == '0001'">
          <div class="row">
            <div class="col-sm-4">
            <button class="btn btn-primary btn-block">Reset Password</button>
          </div>
            <div class="col-sm-4">
              <button class="btn btn-primary btn-block">Delete User Data</button>
            </div>
            <div class="col-sm-4">
              <button class="btn btn-primary btn-block">Delete User Account</button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      </div>
    </div>
  </ng-template>

  <app-detailview></app-detailview>
</div>
