<div id="wrapper">
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Blockchain Simulator</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <i class="fa fa-link fa-fw"></i> Reference URL
        </h4>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <ul>
          <li>비트코인 개발자 가이드<br><a href="https://bitcoin.org/en/developer-guide" target="_blank">https://bitcoin.org/en/developer-guide</a></li>
          <li>한글 비트코인 개발자 가이드<br><a href="https://wikidocs.net/book/1699" target="_blank">https://wikidocs.net/book/1699</a></li>
          <li>KISA 암호소개<br><a href="https://seed.kisa.or.kr/iwt/ko/index.do" target="_blank">https://seed.kisa.or.kr/iwt/ko/index.do</a></li>
          <li>웹프로그래밍에서의 암호 사용<br><a href="http://cris.joongbu.ac.kr/course/2016-1/wp1/crypto/crypto.html" target="_blank">http://cris.joongbu.ac.kr/course/2016-1/wp1/crypto/crypto.html</a></li>
          <li>JavaScript Cryptography<br><a href="http://cryptojs.altervista.org/index.html" target="_blank">http://cryptojs.altervista.org/index.html</a></li>
          <li>Billcoin Wallet Generation<br><a href="https://bstavroulakis.com/demos/billcoin/address.php" target="_blank">https://bstavroulakis.com/demos/billcoin/address.php</a></li>
          <li>Mnemonic Code Converter<br><a href="https://iancoleman.io/bip39/" target="_blank">https://iancoleman.io/bip39/</a></li>
        </ul>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- / panel -->
  </div>
  <!-- /#page-wrapper -->
</div>
