<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      해쉬함수(Hash Function)
      <a href="#desc" class="pull-right" role="button" data-toggle="collapse" title="설명"><i class="fa fa-file-text"></i></a>
    </h1>
    <pre>https://en.bitcoin.it/wiki/Base58Check_encoding#Background</pre>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div id="desc" class="desc collapse">
  <div class="well" data-load="./load-hash.html"></div>
</div>
<!-- / desc -->

<br>

<div class="card">
  <div class="card-body">
    <div class="row form-group">
      <div class="col-sm-2"><label> </label></div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-outline-secondary btn-block"
                ngbTooltip="테스트에 사용할 평문을 임의로 만들어 채웁니다." placement="bottom"
                (click)="randomText()">Random Text</button>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <div class="card-header text-center">Part A</div>
  <div class="card-body">
    <form>
      <div class="row form-group">
        <div class="col-sm-2"><label>input</label></div>
        <div class="col-sm-10">
      <textarea [(ngModel)]="textValue" name="textValue" id="textValue" class="form-control" cols="30"
                rows="5"></textarea>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-2"><label> </label></div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary btn-block" (click)="hash()">Hash</button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-outline-secondary btn-copy btn-block"
                  ngbTooltip="Copied!" triggers="manual" #copyTextTooltip="ngbTooltip" (cbOnSuccess)="copyText()"
                  ngxClipboard [cbContent]="textValue"><i class="fa fa-copy"></i> Copy Text
          </button>
        </div>
        <div class="col-sm-3">
          <button type="reset" class="btn btn-outline-secondary btn-block"><i class="fa fa-trash"></i> Clear All
          </button>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-2"><label>output</label></div>
        <div class="col-sm-10 input-group">
          <input type="text" class="form-control" id="hashedValue" name="hashedValue"
                 [(ngModel)]="hashedValue" [ngModelOptions]="{standalone: true}" readonly>
          <span class="input-group-btn">
            <button type="button" class="btn btn-outline-secondary btn-copy"
                    ngbTooltip="Copied!" triggers="manual" #copyHashedTooltip="ngbTooltip" (cbOnSuccess)="copyHashed()"
                    ngxClipboard [cbContent]="hashedValue"><i class="fa fa-copy"></i> Copy Text</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<br>
<br>

<div class="card">
  <div class="card-header text-center">Part B</div>
  <div class="card-body">
    <form>
      <div class="row form-group">
        <div class="col-sm-2"><label>input</label></div>
        <div class="col-sm-10">
      <textarea [(ngModel)]="textValue2" name="textValue2" id="textValue2"
                class="form-control" cols="30" rows="5"></textarea>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-2"><label> </label></div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary btn-block" (click)="hash2()">Hash</button>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-outline-secondary btn-copy btn-block"
                  ngbTooltip="Copied!" triggers="manual" #copyTextTooltip2="ngbTooltip" (cbOnSuccess)="copyText2()"
                  ngxClipboard [cbContent]="textValue2"><i class="fa fa-copy"></i> Copy Text
          </button>
        </div>
        <div class="col-sm-3">
          <button type="reset" class="btn btn-outline-secondary btn-block"><i class="fa fa-trash"></i> Clear All
          </button>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-2"><label>output</label></div>
        <div class="col-sm-10 input-group">
          <input type="text" class="form-control" id="hashedValue2" name="hashedValue2"
                 [(ngModel)]="hashedValue2" [ngModelOptions]="{standalone: true}" readonly>
          <span class="input-group-btn">
        <button type="button" class="btn btn-outline-secondary btn-copy"
                ngbTooltip="Copied!" triggers="manual" #copyHashedTooltip2="ngbTooltip" (cbOnSuccess)="copyHashed2()"
                ngxClipboard [cbContent]="hashedValue2"><i class="fa fa-copy"></i> Copy Text</button>
      </span>
        </div>
      </div>
    </form>
  </div>
</div>
