<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      대칭키암호(Symmetric-key cryptosystem)
      <a href="#desc" class="pull-right" role="button" data-toggle="collapse" title="설명"><i class="fa fa-file-text"></i></a>
    </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div id="desc" class="desc collapse">
  <div class="well" data-load="./load-symmetric.html"></div>
</div>
<!-- / desc -->

<!--
<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <label>Key size (bits)</label>
      <select class="form-control" id="selKeySize" name="selKeySize" [(ngModel)]="selKeySize">
        <option selected="selected" value="128">128</option>
        <option value="192">192</option>
        <option value="256">256</option>
      </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label>Mode</label>
      <select class="form-control" id="selMode" name="selMode" [(ngModel)]="selMode">
        <option selected="selected" value="CBC">CBC</option>
        <option value="OFB">OFB</option>
        <option value="CFB">CFB</option>
        <option value="CTR">CTR</option>
        <option value="ECB">ECB</option>
      </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label>Padding</label>
      <select class="form-control" id="selPad" name="selPad" [(ngModel)]="selPad">
        <option selected="selected" value="Pkcs7">Pkcs7</option>
        <option value="Iso97971">Iso97971</option>
        <option value="AnsiX923">AnsiX923</option>
        <option value="Iso10126">Iso10126</option>
        <option value="ZeroPadding">ZeroPadding</option>
        <option value="NoPadding">NoPadding</option>
      </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label>&nbsp;</label><br>
      <button type="reset" class="btn btn-outline-secondary" (click)="clearText()"><i class="fa fa-trash"></i> Clear
      </button>
    </div>
  </div>
</div>
-->


<div class="card">
  <div class="card-header text-center">Encrypt Part</div>
  <div class="card-body">

    <form>
      <div class="form-group">
        <label>Pass phrase</label>
        <div class="input-group">
          <input type="text" class="form-control" id="passphrase" name="passphrase" value="" size="70"
                 maxlength="128" [(ngModel)]="passphrase">
          <span class="input-group-btn">
            <button type="button" class="btn btn-outline-secondary btn-copy"
                    ngbTooltip="Copied!" triggers="manual" #copyTextTooltip="ngbTooltip" (cbOnSuccess)="copyText()"
                    ngxClipboard [cbContent]="passphrase"><i class="fa fa-copy"></i> Copy Pass</button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>Plain text</label> (length: <span id="lenPlaintext" name="lenPlaintext">{{lenPlaintext}}</span>)
        <textarea [(ngModel)]="txtPlaintext"
                  cols="30" rows="3" class="form-control" (keyup)="lenPlaintext = txtPlaintext.length;"
                  id="txtPlaintext" name="txtPlaintext"></textarea>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <button type="button" class="btn btn-outline-secondary btn-block"
                  ngbTooltip="Pass phrase와 평문 데이터를 임의로 만듭니다." (click)="genPassphrase()">Random Data
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary btn-block" id="cmdEncrypt" name="cmdEncrypt"
                  (click)="cmdEncryptClick()">Encrypt
          </button>
        </div>
        <div class="col-sm-4">
          <button type="reset" class="btn btn-outline-secondary btn-block"><i class="fa fa-trash"></i> Clear All
          </button>
        </div>
      </div>
      <div class="form-group">
        <label>Cipher text</label>
        <textarea [(ngModel)]="txtCiphertext" cols="30" rows="3" class="form-control" id="txtCiphertext"
                  name="txtCiphertext"
                  readonly></textarea>
      </div>
    </form>
  </div>
</div>
<!-- ////////////////////////// -->
<br>
<div class="alert-dismissible">
  <ngb-alert *ngIf="alertMessage" type="danger" (close)="alertMessage = null">{{ alertMessage }}</ngb-alert>
</div>
<br>

<div class="card">
  <div class="card-header text-center">Decrypt Part</div>
  <div class="card-body">

    <form>
      <div class="form-group">
        <label>Pass phrase</label>
        <div class="input-group">
          <input type="text" class="form-control" id="passphrase2" name="passphrase2" value="" type="text" size="70"
                 maxlength="128" [(ngModel)]="passphrase2">
          <span class="input-group-btn">
					<button class="btn btn-outline-secondary" type="button" name="random"
                  (click)="getPassphrase()"><i class="fa fa-paste"></i> Get Pass</button>
				</span>
        </div>
      </div>
      <div class="form-group">
        <label>Cipher text</label> (length: <span id="lenCiphertext" name="lenCiphertext">{{lenCiphertext}}</span>)
        <textarea [(ngModel)]="txtCiphertext2"
                  cols="30" rows="3" class="form-control" (keyup)="lenCiphertext = txtCiphertext2.length;"
                  id="txtCiphertext2" name="txtCiphertext2"></textarea>
      </div>
      <div class="form-group row">
        <div class="col-sm-4">
          <button type="button" class="btn btn-outline-secondary btn-block"
                  ngbTooltip="위의 Pass phrase와 암호화된 데이터를 복사해 옵니다." (click)="getCiphertext()"> Get Cipher Text
          </button>
        </div>
        <div class="col-sm-4">
          <button type="button" class="btn btn-primary btn-block" id="cmdVerify" name="cmdVerify"
                  (click)="cmdDecryptClick()"> Decrypt
          </button>
        </div>
        <div class="col-sm-4">
          <button type="reset" class="btn btn-outline-secondary btn-block"><i class="fa fa-trash"></i> Clear All
          </button>
        </div>
      </div>
      <div class="form-group">
        <label>Plain text</label>
        <textarea [(ngModel)]="txtPlaintext2"
                  cols="30" rows="3" class="form-control" id="txtPlaintext2" name="txtPlaintext2" readonly></textarea>
      </div>
    </form>
  </div>
</div>
