<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      채굴(Mining)
      <a href="#desc" class="pull-right" role="button" data-toggle="collapse" title="설명"><i class="fa fa-file-text"></i></a>
    </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div id="desc" class="desc collapse">
  <div class="well" data-load="./load-mining.html"></div>
</div>
<!-- / desc -->

<div class="d-inline-block dropdown" ngbDropdown #myDrop="ngbDropdown">
  <button class="btn btn-outline-primary" ngbDropdownToggle>{{address}}</button>
  <div ngbDropdownMenu>
    <button class="dropdown-item" *ngFor="let key of keyList">{{ key.address }}</button>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Header</h4>
  </div>
  <!-- / panel-header -->

  <div class="panel-body">
      <div class="row form-group">
        <label class="col-sm-2 control-label">version</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="version" readonly name="version">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 control-label">prev hash</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="block.prev_hash" readonly name="prev_hash">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 control-label">merkle root</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="block.merkle_root" readonly name="merkle_root">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 control-label">time</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" [(ngModel)]="block.time" readonly name="time">
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control" [(ngModel)]="timestamp" readonly name="timestamp">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 control-label">nBits</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="block.nbits" readonly name="nbits">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 control-label">nonce</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="block.nonce" name="nonce" readonly>
        </div>
      </div>
  </div>
  <!-- / panel-body -->
</div>
<!-- / panel -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Transactions</h4>
  </div>
  <!-- / panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <ngx-datatable
          #table_tx
          class="material"
          [rows]="rows_tx"
          [columns]="columns_tx"
          [headerHeight]="40"
          [footerHeight]="40"
          [rowHeight]="'auto'"
          [columnMode]="force"></ngx-datatable>
        <input
          type='text'
          style='padding:5px;margin:15px auto;width:70%;'
          placeholder='Type to filter the Address...'
          (keyup)='updateFilter2($event)'
        /> <i class="fa fa-search"></i>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .panel-body -->
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Mining</h4>
  </div>
  <!-- / panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-block" (click)="findNonce()">Find Nonce</button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-block" (click)="broadcast()">Broadcast</button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-block" (click)="reload()">Reload</button>
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary btn-block" (click)="autoMode()">Auto Mode</button>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .panel-body -->
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Log</h4>
  </div>
  <!-- / panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <textarea name="textLog" id="textLog" class="form-control" cols="30" rows="3">{{textLog}}</textarea>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .panel-body -->
</div>
