<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      블록 조회(Blockchain Information)
      <a href="#desc" class="pull-right" role="button" data-toggle="collapse" title="설명"><i class="fa fa-file-text"></i></a>
    </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div id="desc" class="desc collapse">
  <div class="well" data-load="./load-blockchain.html"></div>
</div>
<!-- / desc -->

<form class="form-horizontal" (click)="callback()">
  <div class="form-group">
    <div class="col-sm-2">
      <button type="button" class="btn btn-outline-secondary btn-block" (click)="callback()"><i class="fa fa-trash"></i> Clear</button>
    </div>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="sb" placeholder="Search...">
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
        </div>
      </div>
    </div>
  </div>
</form>

<table class="table table-bordered table-striped table-hover">
  <caption></caption>
  <colgroup>
    <col>
  </colgroup>
  <thead>
  <tr>
    <th scope="col">Height</th>
    <th scope="col">Time</th>
    <th scope="col">Relayed</th>
    <th scope="col">Hash</th>
  </tr>
  </thead>
  <tbody>
  <tr v-if="block == ''">
    <td colspan="4" class="nodata">No Data</td>
  </tr>
  <tr v-else v-for="item in block" (click)="callback()">
    <td>{{ item.height }}</td>
    <td>{{ item.time }}</td>
    <td>{{ item.relayed }}</td>
    <td>{{ item.hash }}</td>
  </tr>
  </tbody>
</table>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Header</h4>
  </div>
  <!-- / panel-header -->

  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">version</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="header.version" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">prev hash</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="header.prev_hash" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">merkle root</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="header.merkle_root" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">time</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" [(ngModel)]="header.time" readonly>
        </div>
        <div class="col-sm-5">
          <span class="form-control disabled">{{ header.time | date:'yyyy-MM-dd HH:mm a z':'+0900' }}</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">nBits</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="header.nbits" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">nonce</label>
        <div class="col-sm-10">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="header.nonce" readonly>
            <span class="input-group-btn">
									<button type="button" class="btn btn-default" (click)="callback()">raw</button>
								</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- / panel-body -->
</div>
<!-- / panel -->

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">Transactions</h4>
  </div>
  <!-- / .panel-heading -->
  <div class="panel-body">
    <table class="table table-bordered table-striped table-hover">
      <caption></caption>
      <colgroup>
        <col>
      </colgroup>
      <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Hash Pointer</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr v-if="tx == ''">
        <td colspan="5" class="nodata">No Data</td>
      </tr>
      <tr v-else v-for="(item, index) in tx">
        <td>{{ index }}</td>
        <td>{{ item.hash_pointer }}</td>
        <td>{{ item.from }}</td>
        <td>{{ item.to }}</td>
        <td>{{ item.amount }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- / .panel-body -->
</div>
<!-- / .panel panel-info -->
