<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      블록 조회(Blockchain Information)
      <a href="#desc" class="pull-right" role="button" data-toggle="collapse" title="설명"><i class="fa fa-file-text"></i></a>
    </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div id="desc" class="desc collapse">
  <div class="well" data-load="./load-blockchain.html"></div>
</div>
<!-- / desc -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Blocks</h4>
  </div>
  <!-- / panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <ngx-datatable
          #table_blocks
          class="material"
          [rows]="rows_blocks"
          [columns]="columns_blocks"
          [headerHeight]="40"
          [footerHeight]="40"
          [rowHeight]="auto"
          [columnMode]="'flex'"
          [limit]="5"
          [selected]="selected"
          [selectionType]="'single'"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"></ngx-datatable>
        <input
          type='text'
          style='padding:5px;margin:15px auto;width:90%;'
          placeholder='Type to filter the height or hash ...'
          (keyup)='updateFilter($event)'
        /> <i class="fa fa-search"></i>
      </div>
    </div>
    <!-- / .row -->
    <!-- / .panel-body -->
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title">Header</h4>
  </div>
  <!-- / panel-header -->

  <div class="panel-body">
    <div class="row form-group">
      <label class="col-sm-2 control-label">height</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="newBlock.height" readonly name="version">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 control-label">hash</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="hash" name="hash" readonly>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 control-label">version</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="version" readonly name="version">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 control-label">prev hash</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="newBlock.prev_hash" readonly name="prev_hash">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 control-label">merkle root</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="newBlock.merkle_root" readonly name="merkle_root">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 control-label">time</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" [(ngModel)]="newBlock.time" readonly name="time">
      </div>
      <div class="col-sm-5">
        <input type="text" class="form-control" value="{{timestamp | date: 'yyyy-MM-dd hh:mm:ss'}}" readonly
               name="timestamp">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 control-label">nBits</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="newBlock.nbits" readonly name="nbits">
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-2 control-label">nonce</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="newBlock.nonce" name="nonce" readonly>
      </div>
    </div>
  </div>
  <!-- / panel-body -->
</div>
<!-- / panel -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Transactions</h4>
  </div>
  <!-- / panel-heading -->
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-12">
        <ngx-datatable
          #table_tx
          class="material"
          [rows]="rows_tx"
          [columns]="columns_tx"
          [headerHeight]="40"
          [footerHeight]="40"
          [rowHeight]="auto"
          [columnMode]="'flex'"></ngx-datatable>
        <input
          type='text'
          style='padding:5px;margin:15px auto;width:90%;'
          placeholder='Type to filter the Address...'
          (keyup)='updateFilter2($event)'
        /> <i class="fa fa-search"></i>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .panel-body -->
</div>
