<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <!--<img class="user-avatar" src="assets/images/logo.png" width="150px"/>-->
      <h1 style="font-size: 72px">Blockchain Simulator</h1>
      <h4>V.0.1</h4>
      <form [formGroup]="form" (ngSubmit)="onRegister()" class="login-form form-horizontal">
        <div class="form-content">
          <fieldset>
            <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
              <input type="text" class="form-control input-underline input-lg" id="email"
                     placeholder="Email" name="email"
                     formControlName="email">
              <span *ngIf="formErrors.email" class="help-block">{{formErrors.email}}</span>
            </div>

            <div class="form-group" [ngClass]="{'has-error': formErrors.password}">
              <input type="password" class="form-control input-underline input-lg" id="password"
                     placeholder="Password" name="password"
                     formControlName="password">
              <span *ngIf="formErrors.password" class="help-block">{{formErrors.password}}</span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': formErrors.passwordConfirmation}">
              <input type="password" class="form-control input-underline input-lg" id="passwordConfirmation"
                     placeholder="Repeat Password" name="passwordConfirmation"
                     formControlName="passwordConfirmation">
              <span *ngIf="formErrors.passwordConfirmation"
                    class="help-block">{{formErrors.passwordConfirmation}}</span>
            </div>
          </fieldset>
        </div>
        <!--<a class="btn rounded-btn" (click)="onRegister()"> Register </a>-->
        <button type="submit" class="btn rounded-btn"> Register</button>
        <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
      </form>
    </div>
  </div>
  <div id="collapseMessage" [ngbCollapse]="isCollapsed">
    <br/>
    <pre style="color:white;">{{alertMessage}}</pre>
    <div *ngIf="errorResponse?.message" class="alert alert-danger">
      {{errorResponse?.message}}
    </div>
  </div>
</div>
